body {
  margin: 0 auto;
  padding: 1%;
  background-color: red;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 10px 20px;
  border-bottom: 1px solid #333;
  color: #ef0c0c;
}
